@import "@/styles/variables";
@import "@/styles/breakpoint";
@import "@/styles/font";

.root {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $color-black;
  will-change: transform;

  .backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
  }
}